/* Nav Bar CSS */
.navbar {
  background: #B5AF87;
  font-size: 18px;
}

/* buttons */
/* Emphasis */
.btn {
  background: #8F8684;
  color: white;
  border-color: #324759;
  margin: 5px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.title {
    font-size: 50pt;
    color: black;
    text-align: center;
    
}

.topBanner {
    margin-top: 30px;
    margin-bottom: 30px; 
}

.custom-select {
  position: relative;
  font-family: Arial;
}

.body {
  font-family: "HelveticaNeueExtended";
}

.mapFilter {
  margin-left: 300px;
  margin-bottom: 25px;
}

.chartGroupTitles {
  margin-left: auto;
  margin-right: auto;
}

.chartPadding {
  background-color:lightgrey; 
  padding:1%; 
  border-color:white; 
  border:1%; 
  margin:1%
}
