<!DOCTYPE html>

<!-- set html language to english -->
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Project 2</title>

        <!-- bootstrap stylesheets and jquery imkports and etc -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        
        <!-- for icons -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        
        <!-- link css sheet  -->
        <link rel="stylesheet" href="../static/css/style.css">

        <!-- D3 -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.5.0/d3.min.js"></script>

        <!-- High Charts -->
        <script src="https://code.highcharts.com/highcharts.js"></script>

        <!-- Plotly -->
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    </head>

    <body class="body">
       
<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="{{ url_for('index') }}"> <img src="/static/images/rings.png" height = '40' alt=""> </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- icons from here: https://material.io/resources/icons/?icon=event&style=baseline -->

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('index') }}"> <span class="material-icons"> home </span> Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('countries') }}"> <span class="material-icons"> place </span> Data by Country</a>
            </li>
            <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('games') }}"> <span class="material-icons"> event </span> Data by Game </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('data') }}"> <span class="material-icons"> cloud_download </span> Download Data </a>
            </li>
        </ul>
    </div>    
</nav>

        <div class="row topBanner">
            <div class="col-md-2"></div>
            <div class="col-md-4"><h1 class=title>Olympic Data by Game</h1></div>
            <div class="col-md-4">
                <img src="/static/images/rings.png" alt="Olympic Rings" style="height:150px">
            </div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-3">
                <p>Filter by Game</p>
                <select id="selEvent" onchange="eventChanged(this.value)">
                </select>
            </div>

        </div>

        <div class="row chartPadding">
            <div class="col-md-6">
                <div id="scatter-gdp"></div>
            </div>
            <div class="col-md-6">
                <div id="scatter-pop"></div>
            </div>
        </div>
        <div class="row chartPadding">
            <div class="col-md-4">
                <div id="olympians-country" style="height:1000px"></div>
            </div>
            <div class="col-md-4">
                <div id="medalist-bar" style="height:1000px"></div>
            </div>
            <div class="col-md-4">
                <div id="events-country" style="height:1000px"></div>
            </div>
        </div>

            
  
    

         <!-- JS -->
         <script type="text/javascript" src="/static/js/functions.js"></script>
         <script type="text/javascript" src="/static/js/rendercharts.js"></script>
         <script type="text/javascript" src="/static/js/render_games.js"></script>

    </body>
</html>