<html>
<head>
  <title>Olypics Map</title>
  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.css" />
  <!-- Leaflet JavaScript -->
  <script src="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>
  <script src="/static/jquery-2.1.1.min.js"></script>
  <style>
    #map{ height: 100% }
  </style>
</head>
<body>
  <div style="margin-bottom: 10px;">
    Year: 
    <select onchange="changeYear(this)">
      <option value="">Select Year</option>
      <option value="1960">1960</option>
      <option value="1964">1964</option>
      <option value="1968">1968</option>
      <option value="1972">1972</option>
      <option value="1976">1976</option>
      <option value="1980">1980</option>
      <option value="1984">1984</option>
      <option value="1988">1988</option>
      <option value="1992">1992</option>
      <option value="1994">1994</option>
      <option value="1996">1996</option>
      <option value="1998">1998</option>
      <option value="2000">2000</option>
      <option value="2002">2002</option>
      <option value="2004">2004</option>
      <option value="2006">2006</option>
      <option value="2008">2008</option>
      <option value="2010">2010</option>
      <option value="2012">2012</option>
      <option value="2014">2014</option>
      <option value="2016">2016</option>
    </select>

    Season:
    <select onchange="changeSeason(this)">
      <option value="">Select All</option>
      <option value="Summer">Summer</option>
      <option value="Winter">Winter</option>
    </select>
  </div>
  <div id="map"></div>

  <!-- json code -->
  <script type="text/javascript" src="/static/json/medal_counts.json"></script>
  <script type="text/javascript" src="/static/json/countries.geo.json"></script>
  <!-- Our JavaScript -->
  <script type="text/javascript" src="/static/js/olympic_map.js"></script>
  
  <script>

  </script>
</body>
</html>